/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
}

/* Página */
.corpo {
    align-items: center;
    background: linear-gradient(236.85deg, #041832 27.26%, #3468A7 96.03%);
    display: flex;
    justify-content: center;
}

.wrapper {
    background: #F7F7F7;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    height: 90%;
    padding: 2rem;
    width: 90%;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cabecalho__informacoes {
    align-items: center;
    display: flex;
}

.cabecalho__titulo {
    color: #1C1C1C;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.5rem;
}

.cabecalho__subtitulo {
    color: #1C1C1C;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.75rem;
}

.cabecalho__foto {
    border-radius: 50%;
    max-height: 100px;
    margin-right: 1rem;
}

.cabecalho__altera-tema {
    background: #ECF4FF;
    border: 2px solid #0E1D2F;
    border-radius: 100px;
    font-size: 1.5rem;
    font-weight: 400;
    height: 3.75rem;
    padding: 0 .75rem;
}

.principal {
    display: flex;
    flex: 1 1 auto;
}

.projetos {
    align-items: center;
    background: linear-gradient(230.65deg, #499CFE 27.49%, #9CC8FC 83.19%);
    box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    padding: 2rem;
    width: 100%;
}

.projetos__titulo {
    color: #1C1C1C;
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.projetos__lista {
    text-align: center;
}

.projetos__item:not(:last-child) {
    margin-bottom: .5rem;
}

.projetos__link {
    color: #1C1C1C;
    padding: .5rem 1rem;
}

.projetos__link:visited {
    color: rgb(221, 9, 9);
}

.projetos__link:hover {
    color: #041832;
}